.container {
  --container-width: 124rem;
  --padding-inline: 2rem;
  max-width: calc(var(--container-width) + var(--padding-inline) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-inline);

  @media (max-width: 63.9375rem) {
    --padding-inline: 1.5rem;
  }
}

.header-container {
  --container-width: 124rem;
  --padding-inline: 2rem;
  max-width: calc(var(--container-width) + var(--padding-inline) * 2);

  @media (max-width: 63.9375rem) {
    --padding-inline: 1.5rem;
  }
}

.footer-container {
  --container-width: 124rem;
  --padding-inline: 2rem;
  max-width: calc(var(--container-width) + var(--padding-inline) * 2);
  margin-inline: auto;
  padding-inline: var(--padding-inline);

  @media (max-width: 63.9375rem) {
    --padding-inline: 1.5rem;
  }
}
